@import "src/mixin";

.header-wrapper {
    height: 500px;
    overflow: hidden;
    @include full_page();

    @include from_md() {
        height: 70vh;
    }

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}
