@import "src/mixin";
@import "src/variables";
@import "src/fonts";
@import "src/common";

#shuttle-infos-wrapper,
#where-do-we-meet-wrapper,
#where-can-i-park-wrapper,
#plan-wrapper,
#welcome-drink-wrapper,
#plan-coming-days,
#dress-code-wrapper,
#registry-wrapper,
#la-clusaz-infos-wrapper {
  @include content_with_padding();
}

a {
  color: $black;
}

#where-do-we-meet-wrapper {
  #meeting-point {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 4rem;

    @include from_md() {
      font-size: $size_smedium;
    }
  }
}

#where-can-i-park-wrapper {
  p {
    margin-bottom: 4rem;
  }

  a {
    color: $black;
  }
}

.iframe-wrapper {
  display: flex;
  justify-content: center;

  iframe {
    width: 100%;
    height: 25rem;
    border: none;

    @include from_lg() {
      max-width: 60rem;
    }
  }
}

#dress-code-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  > div {
    margin-top: 2rem;
  }

  img {
    max-width: 60rem;
    width: 100%;
  }

  label {
    font-weight: $font_montserrat_semi_bold;
  }

  label:not(:first-child) {
    display: block;
    margin-top: 2rem;
  }
}

#registry-wrapper {
  > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
}

#welcome-drink-wrapper,
#la-clusaz-infos-wrapper {
  p {
    text-align: center;
  }
}