@import "src/mixin";
@import "src/variables";
@import "src/fonts";
@import "src/common";

.map-section {
    @include content_with_padding();

    .buttons-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;

        a {
            margin: 1rem 0;
        }

        @include from_md(){
            flex-direction: row;

            a {
                margin: 0 1rem;
            }
        }
    }
}
