@import "src/mixin";
@import "src/variables";
@import "src/fonts";
@import "src/common";

.map-wrapper {
    display: flex;
    justify-content: center;
    margin-left: -3rem;
    margin-right: -3rem;
    margin-bottom: 2rem;

    iframe {
        border: none;
    }
}

@include from_md() {
    .map-wrapper {
        display: flex;
        justify-content: center;
        margin-left: 0;
        margin-right: 0;
    }
}

.map-section {
    @include content_with_padding();

    .buttons-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;

        a {
            margin: 1rem 0;
        }

        @include from_md(){
            flex-direction: row;

            a {
                margin: 0 1rem;
            }
        }
    }
}
