@import "src/mixin";
@import "src/variables";
@import "src/fonts";
@import "src/common";

.intro-tmb-wrapper {
    text-align: center;
    position: relative;
    height: 500px;
    overflow: hidden;
    @include full_page_content_with_background($light_blue);

    @include from_md(){
        height: 95vh;
    }

    h2 {
        text-align: right;
        padding: 0;
    }

    .tmb-title {
        text-align: right;
        font-family: $font_parisienne;
        color: $dark_brown;
        font-size: $size_medium;

        @include from_md(){
            font-size: $size_large;
        }
    }

    .info-wrapper {
        display: flex;
        flex-direction: column;
        text-align: right;
        position: relative;
        z-index: 1;

        span {
            font-family: $font_quicksand;
            font-size: $size_regular;

            @include from_md(){
                font-size: $size_medium;
            }
        }

        .tmb-button-wrapper {
            margin-top: 3rem;

            a {
                text-decoration: none;
                padding: 0.75rem;
                background-color: transparent;
                color: $dark_brown;
                border-radius: 4px;
                border: 1px solid $dark_brown;
                font-weight: $font_montserrat_semi_bold;

                &:hover {
                    background-color: $dark_brown;
                    color: white;
                }
            }
        }
    }

    img {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 0;

        @include from_lg(){
            top: 20%;
        }
    }
}
