.tmb-page {
  .full_width_wrapper {
    height: 60vh;
  }

  .back-home-btn-wrapper a {
    color: black;
  }

  #gear {
    margin-bottom: 3rem;
  }

  ul {
    max-width: 60rem;

    li {
      margin: 1rem 0;
    }
  }

  hr {
    margin: 3rem 0;
  }
}