.tmb-page {
  .full_width_wrapper {
    height: 60vh;
  }

  .back-home-btn-wrapper a {
    color: black;
  }

  #come-hike-for-one-day {
    iframe {
      border: none;
    }

    .map-wrapper {
      margin-top: 3rem;
    }
  }

  #gear {
    margin-bottom: 3rem;
  }

  ul {
    li {
      margin: 1rem 0;
    }
  }

  hr {
    margin: 3rem 0;
  }
}