.map-wrapper {
    display: flex;
    justify-content: center;
    margin: 2rem -3rem;
}

@media (min-width: 768px) {
    .map-wrapper {
        display: flex;
        justify-content: center;
        margin: 2rem 0;
    }
}
