@import "src/mixin";
@import "src/variables";
@import "src/fonts";
@import "src/common";

.rsvp-wrapper {
  position: relative;
  height: 180vh;

  @include from_md() {
    height: 140vh;
  }
  @include full_page();

  img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    object-fit: cover;
  }

  .content {
    @include content_with_padding();

    font-size: $size_small;

    p {
      text-align: center;
      margin: 0;
      font-family: $font_quicksand;
      font-weight: $font_quicksand_medium;
      font-size: 1.2rem;
      padding-bottom: 2rem;
    }
  }
}

