h2 {
  font-size: $size_large;
  font-weight: $font_montserrat_medium;
  text-align: center;
  margin: 0;
  padding-bottom: 2.5rem;

  @include from_md() {
    font-size: $size_xlarge
  }
}

h3 {
  font-size: $size_medium;
  font-weight: $font_montserrat_medium;

  @include from_md() {
    font-size: $size_large
  }
}

hr {
  color: #ebebeb;
  opacity: 0.3;
  margin: 0;
}

body {
  font-family: $font_montserrat;
  font-weight: $font_montserrat_regular;
}