@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Festive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rozha+One&display=swap');

$font_quicksand:                      'Quicksand', sans-serif;
$font_quicksand_light:                300;
$font_quicksand_regular:              400;
$font_quicksand_medium:               500;
$font_quicksand_semi_bold:            600;
$font_quicksand_bold:                 700;

$font_parisienne:                     'Parisienne', cursive;
$font_festive:                        'Festive', cursive;

$font_rozha_one:                      'Rozha One', serif;

$size_small:                          0.5rem;
$size_regular:                        1rem;
$size_medium:                         1.5rem;
$size_large:                          2rem;
$size_xlarge:                         3rem;
$size_xxlarge:                        4rem;
$size_xxxlarge:                       17rem;

