// Colors

$light_brown:                   #9C780E;
$brown:                         #534001;
$dark_brown:                    #4D3E39;

$light_gray:                    #FEFFFF;

$light_blue:                    #E7F0F5;

$white:                         #FFFFFF;

// Breakpoints
$sm:                            576px;
$md:                            768px;
$lg:                            992px;
$xl:                            1200px;
$xxl:                           1400px;
