.language-wrapper {
    position: absolute;
    top: 1rem;
    right: 1rem;

    > * {
        border: none;
        background: none;
        cursor: pointer;
        padding: 0;
        margin: 0 1rem;
        height: 40px;
        width: auto;
    }

    img {
        width: auto;
        height: 100%;
    }

    img:hover {
        opacity: 0.9;
    }
}
